<footer class="md-footer">
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            <div class="md-footer-copyright">
                © Nano Foundation |
                <a href="https://nano.org/terms" target="_blank">
                    Terms of Use
                </a>
                 | 
                <a href="https://nano.org/privacy">
                    Privacy Policy
                </a>
            </div>
            <div class="md-footer-social">
                <link href="/assets/fonts/font-awesome.css" rel="stylesheet">
                    <a class="md-footer-social__link fa fa-github" href="https://github.com/nanocurrency">
                    </a>
                    <a class="md-footer-social__link fa fa-twitter" href="https://twitter.com/nano">
                    </a>
                    <a class="md-footer-social__link fa fa-comments" href="https://chat.nano.org">
                    </a>
                    <a class="md-footer-social__link fa fa-reddit" href="https://reddit.com/r/nanocurrency">
                    </a>
                    <a class="md-footer-social__link fa fa-medium" href="https://medium.com/nanocurrency">
                    </a>
                    <a class="md-footer-social__link fa fa-facebook" href="https://facebook.com/nanofoundation">
                    </a>
                    <a class="md-footer-social__link fa fa-linkedin" href="https://linkedin.com/company/nano-foundation">
                    </a>
                    <a class="md-footer-social__link fa fa-youtube" href="https://www.youtube.com/nanocurrency/">
                    </a>
                    <a class="md-footer-social__link fa fa-instagram" href="https://www.instagram.com/nanocurrency/">
                    </a>
                </link>
            </div>
        </div>
        <div class="md-footer-meta__inner md-grid md-grid-disclaimer">
    		<div class="md-footer-disclaimer md-footer-copyright">
    			This site uses cookies, see our <a href="https://nano.org/privacy#cookies" target="_blank">Cookie policy</a> for details. The Nano Foundation is not responsible for the content of external sites and services. 
    			<a href="https://nano.org/terms#linked-websites" target="_blank">Learn more</a>
    		</div>
    	</div>
    </div>
</footer>