{% extends "base.html" %}

{% block extrahead %}
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@nano">
  <meta name="twitter:title" content="{{ page.meta.title }}">
  <meta name="twitter:description" content="{{ page.meta.description }}">
  <meta name="twitter:image" content="{{ config.site_url }}images/nano-docs-open-graph.png" />

  <!-- Open Graph data -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.meta.title }}" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  <meta property="og:image" content="{{ config.site_url }}images/nano-docs-open-graph.png" />
  <meta property="og:description" content="{{ page.meta.description }}" />
  <meta property="og:site_name" content="Nano Docs" />

{% endblock %}