{% extends "base.html" %}

{% block extrahead %}
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@nano">
  <meta name="twitter:title" content="{{ page.meta.title }}">
  <meta name="twitter:description" content="{{ page.meta.description }}">
  <meta name="twitter:image" content="{{ config.site_url }}images/nano-docs-open-graph.png" />

  <!-- Open Graph data -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.meta.title }}" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  <meta property="og:image" content="{{ config.site_url }}images/nano-docs-open-graph.png" />
  <meta property="og:description" content="{{ page.meta.description }}" />
  <meta property="og:site_name" content="Nano Docs" />

{% endblock %}

{% block analytics %}

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://nano.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='//cdn.matomo.cloud/nano.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

{% endblock %}